.bed-status-section {
  margin: 20px;
  padding: 10px 10px 20px;
}

.table-controls {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.table-controls:first-child {
  margin-top: 0;
}

.table-controls .table-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}


.search-input {
  background: #ebebf7;
  border: none;
  padding: 15px;
  font-size: 12px;
  border-radius: 6px;
  width: 250px;
}

.search-input:focus{
  outline: 0;
}

.add-btn,
.view-btn-top {
  background-color: #0a2f63;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
}

.status-table {
  width: 100%;
  border-collapse: collapse;
}

.status-table th,
.status-table td {
  padding: 12px 16px;
  text-align: left;
}

.status-table tbody tr {
  border-top: 1px solid #f1f1f1;
}

.status-table th {
  font-weight: 500;
  color: #555;
}

.status-table td {
  color: #333;
}

.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.table-footer select {
  padding: 3px 5px;
  border-radius: 6px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 6px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  border-radius: 50%;
  background-color: #f4f4f9;
  cursor: pointer;
}

.pagination button.active {
  background-color: #062955;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.edit-btn,
.delete-btn,
.view-btn,
.table-view-btn,
.green-btn {
  text-wrap-mode: nowrap;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-right: 6px;
}

.edit-btn,
.view-btn,
.table-view-btn {
  background-color: #153162;
}

.delete-btn {
  background-color: #f54444;
}

.green-btn {
  background-color: var(--nature-green);

}


.table-container {
  overflow-x: auto;
}

.table-container thead tr th {
  text-wrap: nowrap;
}

#hostelTable,
.status-table {
  font-size: 13px;
  /* table-layout: fixed; Ensures equal width distribution */
}

#hostelTable th,
#hostelTable td,
.status-table th,
.status-table td {
  /*width: 1%;  Triggers equal distribution across all columns */
  word-wrap: normal;
  text-wrap-mode: nowrap;
  /* Ensures long text wraps inside the cell */
}

.actions {
  display: flex;
}