:root {
    --white: #fff;
    --black: #000;
    --blue: #4e00b2;
    --side-gray: #082431;
    --side-black: #273240;
    --primary-red: #eb3f3a;
    --primary-clr: #002b5b;
    --ecom-primary-txt: #333;
    --primary-black: #161616;
    --primary-blue: #007bff;
    --salty-orange: #ffa800;
    --royal-blue: #8a0bff;
    --sky-blue: #129bbc;
    --dark-purple: #7928ca;
    --purple-pink: #df40c9;
    --lovely-pink: #fc185a;
    --nature-green: #1cc967;
    --danger-red: #dc4546;
    --text-color: #2d3748;
    --text-light: #f7f7f7;
    --text-primary: #ddd;
    --text-primary2: #333;
    --text-secondary: #8d9eb5;
    --text-light-primary: #8d9eb5;
    --text-light-primary2: #61748f;
    --ff-poppins: "Poppins", sans-serif;
    --card-radius: 10px;
    --ss-border: 2px solid #4a3d93;
    --ss-light-shadow: var(--primary-clr) 0px 2px 8px 0px;
    --inner-gap: 2.4rem;
    --loader-color: #129bbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-poppins);
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--white);
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
}

a {
    text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-clr);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--sky-blue);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.space {
    margin: 2rem 0 !important;
}

.section-head-title {
    font-size: 3.4rem;
    font-weight: 500;
    color: #111;
    margin-bottom: 0.5rem;
    text-align: center;
}

main {
    flex: 1;
}

.main-page-padding {
    padding: 0 2.2rem;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .space {
        margin: 1rem 0 !important;
    }
}

@media (max-width: 480px) {
    .section-head-title {
        font-size: 3rem;
    }
}

/* Nav  */

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
    z-index: 10;
}

.nav-container-left,
.nav-container-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-brand {
    position: relative;
    display: flex;
    align-items: center;
}

@media (min-width: 800px) {
    .navbar-brand::after {
        content: "";
        position: absolute;
        top: 0;
        right: -2.3rem;
        width: 0.15rem;
        height: 90%;
        background-color: #3333331a;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2rem;
    padding: 1.2rem 2rem;
    margin: 0 2rem;
    flex: 1;
    max-width: 300px;
}

.navbar-brand img {
    width: 21rem;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.6rem;
    font-size: 1.4rem;
    width: 100%;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links .nav-link {
    color: #333333;
    font-weight: 300;
}

.nav-btns {
    display: flex;
    align-items: center;
}

.hamburger {
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-right: 1rem;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--primary-clr);
    border-radius: 2px;
}

.custom .nav-link {
    font-size: 1.6rem;
    color: var(--primary-black);
    font-weight: 500;
    margin: 0 1rem;
}

.custom .nav-link:hover {
    font-weight: 700;
    color: var(--primary-clr);
}

.btn-custom {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-weight: 500;
}

.btn-register {
    background-color: var(--primary-clr);
    color: white;
    margin-right: 1rem;
}

.btn-register a {
    font-size: 1.6rem;
    color: var(--white);
}

.navbar-brand img {
    max-height: 60px;
}

/* Mobile Styles */

@media screen and (max-width: 1400px) and (min-width: 999px) {
    .nav-links .nav-link,
    .btn-register a {
        font-size: 1.3rem;
    }

    .btn-custom {
        padding: 0.8rem 1rem;
        border-radius: 1rem;
    }
}

@media (max-width: 768px) {
    .nav-link {
        margin: 1rem 0;
    }

    .btn-custom {
        width: 100%;
        margin: 0 0.5rem 0.5rem 0;
    }

    .nav-container {
        padding: 1rem;
    }
}

@media (max-width: 800px) {
    .search-bar {
        display: none;
    }

    .none-768 {
        display: none;
    }

    .nav-container-left,
    .nav-container-right,
    .nav-links,
    .nav-btns {
        flex-direction: column;
        align-items: start;
    }

    .nav-container-right {
        padding: 0 1rem;
    }

    .nav-btns {
        width: 100%;
    }

    .hamburger {
        display: flex;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem;
        background-color: #fff;
        border-top: 1px solid #ccc;
        transition: all 0.3s ease-in-out;
    }

    .mobile-menu.show {
        display: flex;
    }

    .mobile-menu a,
    .mobile-menu button {
        font-size: 1.6rem;
    }
}

/* Footer */

.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-clr);
    padding: 3rem 0;
    border-top-left-radius: 10rem;
    border-top-right-radius: 10rem;
    position: relative;
    overflow: hidden;
}

.footer-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 20rem;
    z-index: 1;
}

.footer-section p {
    margin: 0;
    color: white;
    font-size: 1.3rem;
}

@media screen and (max-width: 480px) {
    .footer-section p {
        font-size: 1rem;
    }

    .footer-img {
        display: none;
    }

    .footer-section {
        border-top-left-radius: 5rem;
        border-top-right-radius: 5rem;
    }
}

/* Footer */
