/* General Container */
.user-management-container {
  padding: 10px;
  font-family: var(--ff-manrope);
  background-color: #F5F5F6;
}

/* Header Bar */
.header-bar {
  /* background: var(--primary-clr);
   */
  background-image: url("../../public/User\ Management/user-management-bg.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 2.5rem 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 20rem;
}

.header-bar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-header p a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  letter-spacing: .10px;
}

.section-header h3 {
  font-weight: bolder;
  margin-left: 0.6rem;
}

.search-section {
  display: flex;
  gap: 0.5rem;
  position: relative;
}

.search-section input {
  padding: 15px 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-section input:focus {
  outline: 0;
}

.search-section img {
  width: 50px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 0;
  padding: 15px;
}

/* Add Member */
.add-member {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  position: relative;
  top: -4rem;
  border-radius: 15px;
  border: 1.5px solid #FFF;
  background: linear-gradient(113deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.80) 110.84%);
  box-shadow: 0 2px 5.5px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10.499999046325684px);
  width: 95%;
  margin: 0 auto;
}

.add-member .user-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-member .image-div {
  position: relative;
}

.add-member .image-div .icon-div {
  position: absolute;
  bottom: -15px;
  right: 0.20px;
  transform: translate(50%, -50%);
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.6rem;
  cursor: pointer;
}

.add-member .image-div .icon-div img {
  width: 12px;
}

.add-member .profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  object-fit: cover;
}

.add-member .info h5 {
  margin: 0;
  color: #2D3748;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.add-member .info p {
  margin: 0;
  color: #718096;
  font-size: 10px;
  font-weight: 700;
}

.add-member .add-member-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-member .add-member-btn .active-btn {
  padding: 15px 10px;
  background: #149D52;
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-member .primary-btn {
  margin-left: auto;
  padding: 15px 10px;
  background: var(--primary-clr);
  color: white;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}

.add-member .primary-btn span img {
  width: 1.6rem;
}

.profile-info-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.profile-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.profile-info-header h3,
.info-header h3 {
  font-size: 20px;
  font-weight: 600;
  color: #2d3748;
}

.edit-btn {
  padding: 0.5rem 1.25rem;
  background-color: #1a202c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.profile-grid,
.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.profile-field {
  display: flex;
  flex-direction: column;
}

.profile-field label,
.field label {
  font-size: 14px;
  line-height: 140%;
  font-family: Helvetica;
  color: #2d3748;
  text-align: left;
  margin-bottom: .5rem;
}

.profile-field input,
.field input {
  border: none;
  width: 100%;
  border-radius: 6.77px;
  background-color: #F5F7FA;
  height: 49px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #a0aec0;
  font-family: Helvetica;
  padding: 10px;
}

.profile-field input:read-only {
  background-color: #edf2f7;
  cursor: not-allowed;
}


.info-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.info-section h4 {
  font-size: 15px;
  color: #4a5568;
  margin-top: 20px;
  margin-bottom: 0.8rem;
  font-weight: 600;
}

.edit-btn {
  padding: 15px 20px;
  background-color: var(--primary-clr);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}



.field {
  display: flex;
  flex-direction: column;
}


.field input:read-only {
  background-color: #edf2f7;
  cursor: not-allowed;
}

.attendance-leave-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
}

.section-title {
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
  color: #2d3748;
  font-weight: bold;
}

.table-container {
  margin-bottom: 2.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-header h4 {
  font-size: 10px;
  color: #2d3748;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.btn-primary {
  background-color: var(--primary-clr);
  color: #fff;
  padding: 15px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.table-container {
  margin-bottom: 2.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table-header h4 {
  font-size: 10px;
  color: #2d3748;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
}

.btn-primary {
  background-color: var(--primary-clr);
  color: #fff;
  padding: 0.4rem 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.85rem;
}

.table-container-wrapper {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

.custom-table th,
.custom-table td {
  padding: 0.75rem 10px;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
  font-size: 0.9rem;
}

.custom-table th {
  /* background-color: #f7fafc; */
  color: #2d3748;
}

.custom-table td button {
  background-color: var(--primary-clr);
  color: white;
  padding: 0.4rem 0.9rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-table .status {
  background-color: #38a169;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.custom-table .attend {
  background-color: #38a169;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.custom-table .absense {
  background-color: #EB3F3A;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.custom-table .pending {
  background-color: #FFA242;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  text-align: center;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.pagination button {
  padding: 0.3rem 0.6rem;
  border: none;
  border-radius: 10px;
  background-color: #edf2f7;
  cursor: pointer;
  font-size: 10px;
}

.pagination button.active {
  background-color: var(--primary-clr);
  color: white;
}

.pagination-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .table-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .custom-table th,
  .custom-table td {
    font-size: 0.8rem;
  }

  .btn-primary {
    font-size: 0.75rem;
  }
}


@media screen and (max-width: 480px) {

  .header-bar {
    height: 13rem;
  }

  .add-member {
    flex-direction: column;
    gap: 20px;
  }

  .add-member .user-details {
    gap: 20px;
    justify-content: start;
    width: 100%;
  }

  .attendance-leave-section {
    padding: 10px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1000px) {

  .profile-grid,
  .info-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 999px) and (min-width: 801px) {

  .profile-grid,
  .info-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) and (min-width: 200px) {

  .profile-grid,
  .info-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .table-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  .btn-primary {
    font-size: 0.75rem;
  }
}

@media (max-width: 600px) {

  .search-section,
  .active-btn,
  .add-member-btn,
  .primary-btn,
  .add-member-btn {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-bar {
    height: 13rem;
  }

}